<h1 class="well text-center">All the Robots</h1>

<div class="container">
  <div class="text-center">
    <table id="all-robot-data" class="table table-striped table-bordered table-hover table-condensed">
      <tr>
        <th class="text-center">Avatar</th>
        <th class="text-center">ID</th>
        <th class="text-center">Name</th>
        <th class="text-center">City</th>
        <th class="text-center">State</th>
        <th class="text-center">Birthdate</th>
        <th class="text-center">Date Hired</th>
        <th class="text-center">Department</th>
        <th class="text-center" colspan="2">Actions</th>
      </tr>
    <% @robots.each do |robot| %>
        <tr>
          <td>
            <div>
              <img id="robot-thumbnail" src="https://robohash.org/<%= robot.avatar %>.png">
            </div>
          </td>
          <td style="vertical-align:middle"><%= robot.id %></td>
          <td style="vertical-align:middle"><a href='/robots/<%= robot.id %>'><%= robot.name %></a></td>
          <td style="vertical-align:middle"><%= robot.city %></td>
          <td style="vertical-align:middle"><%= robot.state %></td>
          <td style="vertical-align:middle"><%= robot.birthdate %></td>
          <td style="vertical-align:middle"><%= robot.date_hired %></td>
          <td style="vertical-align:middle"><%= robot.department %></td>
          <td style="vertical-align:middle"><a class="btn btn-link edit-robot-<%= robot.id %>" href="/robots/<%= robot.id %>/edit">Edit</a></td>
          <td style="vertical-align:middle">
            <form action="robots/<%= robot.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-link" type="submit" value="Delete">Delete</button>
            </form>
          </td>
        </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="container well text-center">
  <a class="btn btn-secondary" href="/">Return to Homepage</a>
</div>
