
<ul class="list-group">
  <li class="list-group-item"><img src="https://robohash.org/<%= @robot.avatar %>.png"></li>
  <li class="list-group-item">ID: <%= @robot.id %></li>
  <li class="list-group-item">Name: <%= @robot.name %></li>
  <li class="list-group-item">City: <%= @robot.city %></li>
  <li class="list-group-item">State: <%= @robot.state %></li>
  <li class="list-group-item">Birthdate: <%= @robot.birthdate %></li>
  <li class="list-group-item">Date Hired: <%= @robot.date_hired %></li>
  <li class="list-group-item">Department: <%= @robot.department %></li>
</ul>
